* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 100%;
}

html, body{
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    padding: 1%;
    align-content: center;
    flex-direction: column;
    gap: 16px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

h1 {
    padding: 8px;
    display: flex;
    justify-content: center;
    color: #333;
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 236px;
    gap: 3px;
}

input[type="file"] {
    max-width: 100%;
    margin: 8px 0;
}

button[type="submit"] {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

button[type="submit"]:disabled {
    background: #ccc;
}

.loader {
    width: 36px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
  }
  @keyframes l1 {to{transform: rotate(.5turn)}}

.container{
    background-color: white;
    min-height: 256px;
    width: 500px;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    gap: 4px;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-wrap: wrap;
}

#preview{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 236px;
    min-height: 240px;
    border: 1px dotted black;
}

#images_list{
    width: 100%;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

#slider-range {
    width: 100%;
}

#result {
    width: 100%;
}

#query-analysis {
    width: 100%;
    text-align: left;
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
}

.analysis-item {
    white-space: pre-wrap;
}

.collapsible {
    white-space: pre-wrap;
    margin-bottom: 8px;
}